body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
}

footer {
    grid-column: 1 / 4;
    background: rgb(25, 29, 39);
    color: #ffffff;
    padding: 2rem;
    text-align: center;
}

main {
    max-width: 600px;
    margin: 2rem auto;
    background: #fff;
    padding: 1.5rem;
    border-radius: 8px;
}

input,
select,
textarea {
    width: 100%;
    margin-top: 0.25rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 2rem 0 0 0;
}

legend {
    margin-bottom: 1em;
}

#rating-stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 0.25rem;
}
#rating-stars input {
    display: none;
}
#rating-stars label {
    font-size: 2rem;
    color: #ccc;
    background-color: rgb(242, 242, 242);
    padding: 0 0.5rem;
    border-radius: 6px;
}
#rating-stars input:checked ~ label {
    color: #ffc61b;
    background-color: rgb(254, 250, 213);
}

#rating-stars label:hover,
#rating-stars label:hover ~ label {
    color: #ffc61b;
}

input[type="submit"] {
    background: #0074d9;
    color: #fff;
    margin-top: 1.5rem;
    font-size: 1rem;
}

footer {
    text-align: center;
    margin: 2rem 0 0 0;
    color: #888;
    font-size: 0.9rem;
}
