body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
}
main {
    max-width: 400px;
    margin: 2rem auto;
    background: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    text-align: center;
}
h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
p {
    font-size: 1.1rem;
}

@media (min-width: 600px) {
    main {
        max-width: 600px;
    }
}




header {
    grid-column: 1 / 4;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
    align-items: center;
}
nav li {
    flex: 1 1 auto;
    list-style: none;
}
nav a {
    font-weight: 700;
    display: block;
    color: #ffffff;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
}
nav a:hover {
    color: #48f9ff;
}

footer {
    grid-column: 1 / 4;
    background: rgb(25, 29, 39);
    color: #ffffff;
    padding: 2rem;
    text-align: center;
}
